* {
    margin: 0px;
    padding: 0px;
}
#shader {
    height: 100%;
    width: 100vw;
    background: rgba(41, 31, 31, 0.6)
}
#background {
 background: url(../img/philipp-kammerer-Xm8XD2b9AUs-unsplash.jpg)no-repeat;
 background-size: 100vw auto;
 background-position: 0% 25%;
 height: 100vh;
 width: 100vw; 
}
nav {
    background: linear-gradient(rgba(41, 31, 31, 1), rgba(41, 31, 31, 0));
    display: flex;
    justify-content:right;
    width: 100%;    
}
h1 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    margin-left: 140px;
    margin-top: 50px;
}
h2 {
    color: white; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-left: 190px;
}
header {
    background: rgba(41, 31, 31, 0.5);
    margin-top: 100px;
    height: 170px;
    width: 700px;
    margin: auto;
    border-radius: 10px;
    margin-top: 200px;
}
#meny {
    width: 125px;
    height: 35px;
    margin-left: 275px;
    border-radius: 10px;
    background: white;
    margin-top: 10px;
}
#textknapp {
    color: black;
    position: absolute;
    margin-left: 45px;
    margin-top: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 #textknapp:hover {
    color: gray;
}

#spacer {
    margin-right: 50px;
}
ul {
    color: white;
    display: flex;
    float: right;
}
ul li {
    margin: 30px;
}
ul li a:hover {
    color: gray;
}

.wrapper {
    height: 300vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "info bil1"
    "goal bild2";
    
}  
#info {
    display: grid;
    grid-area: info;
    color: white;
    margin-top: 100px;
    justify-content: center;
    font-size: 75px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#bild1 {
    background: url(../img/mathias-katz-usEpJ_BrN2k-unsplash.jpg);
    background-size: 300px auto;
    grid-area: bild1;
    width: 150px;
}
a {
    text-decoration: none;
    color: white; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/* Här börjar meny.html */

#shader1 {
    height: 100%;
    width: 100%;
    background: rgba(216, 221, 220, 0.6)
}

#menyBackground {
    background: url(../img/neonbrand-y3RFJh6-r0Q-unsplash.jpg)no-repeat;
    background-size: 100vw auto;
    background-position: 20% 90%;
    height: 200vh;
    width: 100%; 
}
.navbar {
    background: linear-gradient(rgb(0, 0, 0, 1), rgb(0, 0, 0, 0));
    justify-content:space-evenly;
    width: 100%;    
    display: inline-block;
}
.navbar:hover {
    color:black;
}
#li1 {
    margin-left: 50px
}


.menyWrapper {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr ;
    grid-template-areas: 
    "t1 i1"
    "t2 i2"
    "t3 i3";
}
.textItems {
    background: Black;
    height: 350px;
    margin: 5px;
    margin-left: 45%;
    margin-top: 50px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 65px;
    background: linear-gradient(rgb(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    border-radius: 10px;
    padding: 10px;
}
.menyItems {
    height: 350px;
    width: 500px;
    margin: 5px;
    margin-top: 50px;
}
#text1 {
    grid-area: t1;
    width: 300px;
}
#text2 {
    grid-area: t2;
    width: 350px;
}
#text3 {
    grid-area: t3;
    width: 400px;
}
#item1 {
    grid-area: i1;
    background: url(../img/iulia-buta-8GNkoWJTchc-unsplash.jpg)no-repeat;
    background-size: 500px auto;
    background-position: 20% 50%;
    height: 350px;
    width: 500px;
    border-radius: 10px;
    margin-left: 5%;
}
#item2 {
    grid-area: i2;
    background: url(../img/vitor-monthay-7hkQBa2PhKY-unsplash.jpg)no-repeat;
    background-size: 500px auto;
    background-position: 20% 30%;
    height: 350px;
    width: 500px;
    border-radius: 10px;
    margin-left: 10%;
}
#item3 {
    grid-area: i3;
    background: url(../img/alexandru-bogdan-ghita-UeYkqQh4PoI-unsplash.jpg)no-repeat;
    background-size: 500px auto;
    background-position: 20% 50%;
    height: 350px;
    width: 500px;
    border-radius: 10px;
    margin-left: 15%;
}
p {
    font-size: 20px;
}
h3 {
    margin: auto;
}

/* Här Börjar Kontakt.html */

